.box {
  text-align: center;
  margin-top: 100px;
}

.box input[type="text"],
.box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: left;
  border-bottom: 2px solid #ffc0c08c;
  padding: 10px 10px;
  width: 250px;
  outline: none;
  color: white;
  border-radius: 12px;
  transition: 0.25s;
}

.box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
  width: 300px;
  border-color: #ff6464;
}

.box input[type="submit"],
.form-inline button[type="submit"] {
  border: 0;
  font-weight: bold;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #ff6464;
  padding: 14px 105px;
  outline: none;
  color: white;
  border-radius: 12px;
  transition: 0.25s;
  cursor: pointer;
}

.box input[type="submit"]:hover {
  background: #ff6464;
}
