.row {
  float: left;
  margin: auto;
}

.card {
  margin-bottom: 3.5rem;
  width: 21rem;
  color: white;
}

.child_1 {
  width: 50%;
  margin: auto;
  padding: 10px;
}

.table {
  display: table;
  width: 100%;
  height: auto;
  margin-top: 30px;
  text-align: left;
  color: rgb(126, 126, 126);
  line-height: 25px;
  border-spacing: 0;
}

.table-borderless td {
  border-bottom: 1px solid rgb(59, 59, 59);
}

.td {
  text-align: right;
  font-weight: bold;
  color: white;
}

/* .shipHeader {
  background-image: url("../../images/ship/ship.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  width: 100%;
  height: 100vh;
  margin-bottom: 20px;
  margin-top: -70px;
  display: flex;
} */

.btn:hover {
  background-color: rgb(172, 0, 51);
  border-color: black;
  color: rgb(0, 0, 0);
}

/* create job */
